<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather Template</title>
  </head>
  <body>
    <h1> current temperature in <%=city=> </h1>
  </body>
</html>
